<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- CSS  -->
  <link href="../min/plugin-min.css" type="text/css" rel="stylesheet">
  <link href="../min/custom-min.css" type="text/css" rel="stylesheet" >
</head>
<body>
  <!-- Pre Loader -->
  <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>

  </div>
<%= yield :nav %>

<%= yield %>


<!--  Scripts-->
<script src="../min/plugin-min.js"></script>
<script src="../min/custom-min.js"></script>
</body>
</html>
